[user]
	name = Ruslan Zabarov
  email = ruszabarov@gmail.com
	signingkey = 3712090DD1B80B336B28B97BC4C0468C1FEC37CE
[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  dark = true
[alias]
	st = status -s
	sta = status
	ci = commit
	co = checkout
	cod = checkout .
	aa = add -A
	br = branch
	bra = branch -a
	edit = commit --amend
	forgot = edit --no-edit --date=now
  staash = stash --all
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[pull]
  rebase = true
[merge]
  conflictstyle = zdiff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
