[user]
  name = Your name
  email = ruszabarov@gmail.com
[core]
  editor = nvim
[alias]
	st = status -s
	sta = status
	ci = commit
	co = checkout
	cod = checkout .
	aa = add -A
	br = branch
	bra = branch -a
	edit = commit --amend
	forgot = edit --no-edit --date=now
  staash = stash --all
